nav{
position: fixed;
top: 0;
height: 80px;
width: 100%;
background: #00a087;
color:  #e8fdff;
padding-right: 2em;
padding-left: 2em;
top: 0;
bottom: 0;
z-index: 1;
}

img {
  width: 80px;
  height: 80px;
  margin-right: 5px;
  float: left;
}

#nav-bar .logo {
  float: left;
}

#nav-bar .header {
  margin-left: 5px;
  font-size: 30px;
  line-height: 2.8;
}

nav button {
  float: right;
  margin-top: 14px;
  background-color: #eee;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  color: #00a087;
  border: steelblue solid;
}

nav button:hover {
  border: black solid 3px;
  color: black;
  background: white;
}