.new-tweet {
padding-bottom: 20px;
background: #eeeeee;
box-sizing: inherit;
border-radius: 10px;
padding: 0px 10px 35px 10px;
}

textarea {
  padding-left: 10px;
  width: 100%;
  padding-top: 5px;
}

section h2 {
  float:left;
}
input {
  float: left;
}

.counter {
  float: right;
}