.new-tweet {
padding-bottom: 20px;
background: #eeeeee;
box-sizing: inherit;
border-radius: 10px;
padding: 10px 10px 35px 10px;
position: center;
}

textarea {
  padding-left: 10px;
  width: 100%;
  padding-top: 5px;
}

section h2 {
  text-align: left;
  line-height: 1.2;
  margin: 0;
  border-bottom: solid 1px #244751;
}

.form {
  margin-top: 15px;
}

input {
  float: left;
}

.counter {
  float: right;
}


.error {
  color: red;
}